* {

    margin: 0;
    padding: 0;
}
body {
  font-family: Roboto,sans-serif;
  color: #000000;
  padding: 0;
}
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin: 0 auto;
}
header {
    background-color: #FA8258;
    padding: 10px 0 10px 0;
}
header:hover{
    color: black;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
  
}
.col-8 ul li :hover{
    color: black;
}


p {
    margin: 10px 0 10px 0;
    width: 0px 0 10px 0;
    text-align: center;
}
.title h3 {
 
    font-size: 32px;
    text-decoration: none;
    color: rgba(245,40,50,1);
}
.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-8 {
      flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.menu ul li {

    float: left;
    margin-left: 20px;
    list-style: none;

}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul.menu_child {
    position: absolute;
    width: 225px;
    background-color: #FA8258;
    z-index: 9999;

}
ul.menu_child li {
    padding: 15px 0 0 0 ;
    float: none;
    display: none;
}
.menu ul li:hover ul.menu_child li {
    display: block;
}

#logo {
    width : 50px;
    height: 50px;
    text-align: center;

}

.anh ul li img{
    width: 70px;
    height: 60px;
}
.anh ul li{
    display: inline-block;
    margin-right: 20px;
}
.anh{
    background-color: teal;
    text-align: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
}
.contact ul li img{
    width: 30px;
    height: 30px;
}
.contact ul li{
    display: inline-block;
}
.contact ul li a{
    color: black;
}
.image img{
    width: 100%;
}    
.container h1{
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    padding-left: 15px;
    line-height: 50px;
    color: white;
    
}
.news{
    overflow: hidden;
    margin-top: 25px;
}
.news:hover {
    cursor: pointer;
}
.news:hover h3{
    color:rgb(241, 68, 15);
}
.news-img img{
    width: 250px;
    height: 155px;
    float: left;
}
footer{
    width: 100%;
    margin-top: 40px;
    
}
footer .footer-top{
    display: flex;
    font-size: 12px;
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    padding: 30px 17% 20px 17%;
}
footer .footer-top .ft-top-cl{
    width: 25%;
    padding-right: 20px;
}
footer .footer-top .ft-top-cl .ft-top-cl_buy ul{
    display: flex;
    flex-wrap: wrap;
}
footer .footer-top .ft-top-cl .ft-top-cl_buy ul li{
    list-style-type: none;
}
footer .footer-top .ft-top-cl .ft-top-cl_buy ul li img{
    width: 40px;
    margin: 5px;
    border: solid 1px rgb(134, 134, 134);
    border-radius: 3px;
}
footer .footer-top .ft-top-cl .ft-top-cl_box-2 .h1,footer .footer-top .ft-top-cl .ft-top-cl_box-2 .h2{
    width: 100%;
    height: 40px;
    background-color: rgb(175, 27, 27);
    margin-top: 10px;
    color: #f1f1f1;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}
footer .footer-top .ft-top-cl .ft-top-cl_box-2 .h2{
    background-color: rgb(0, 97, 182);
}
footer .footer-bottom{
    background-color: rgb(226, 226, 226);
    box-sizing: border-box;
    padding: 10px 17% 0 17%;
}
footer .footer-bottom .ft-bt-top{
    display: flex;
    font-size: 10px;
}
footer .footer-bottom .ft-bt-top .ft-bt-cl{
    width: 25%;
    padding-right: 20px;
}
footer .footer-bottom .ft-bt-bottom{
    font-size: 10px;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #8d8d8d;
}
@media screen and (max-width: 1000px){
    .main-sale{
        flex-wrap: wrap;
    }
    .right{
        width: 600px;
    }
    .review{
        width:auto;
    }
    footer .footer-top{
        flex-wrap: wrap;
    }
    footer .footer-top .ft-top-cl{
        width: 50%;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 926px){
    .main-sale .left, .main-sale .mid{
        width: 100%;
    }
}
@media screen and (max-width: 550px){
    .main-sale{
        margin-left: 10px;
        margin-right: 10px;
    }
    .review{
        margin-left: 10px;
        margin-right: 10px;
    }
    footer .footer-top,footer .footer-bottom{
        padding: 30px 10px 0 10px;
    }
    footer .footer-top .ft-top-cl{
        width: 100%;
        margin-top: 20px;
        padding-bottom: 20px;
    }
}